body {
	background: black url('/Images/background.png'); /* Фоновый цвет и фоновый рисунок */
	color: #FFFFFF; /* Цвет текста на странице */
	background-attachment: fixed; /* Фон страницы фиксируется */
	background-repeat: repeat;
}

a {
	outline: none;
	text-decoration: none;
}

a:link {
	color: #FFA500; 
}

a:visited {
	color: #FFA500;
}

table {
	background: #332F2C;
}

td {
	background: #332F2C;
}